main {width: 70%;margin: auto; max-width: 1300px;}
img {width: 100%; display: block; margin: auto;}
footer {text-align: center;}
img.miniatura {width: 100px;}
tr {vertical-align: middle;}

nav.navbar {
    position: sticky;
    top:0px;
    z-index: 99;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.slow {
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

nav[role=navigation] {
    background-color: transparent;
    text-align: center;
    width: 100%;
    font-size: 0.9em;
    /*color: azure;*/
}

nav[role=navigation] img {
    width: 15px;
    display: inline-block;
}

nav[role=navigation] a {
    color:blue; text-decoration: none;margin-bottom: 15px;font-size: 1.2em;
}

nav.navbar {padding: 15px;border-radius: 5px;}
nav.navbar form {margin-left: 20px;}

#formulario input[type=text] {width:100%}
#formulario textarea {width:100%}
.mensajes-categorias {display: none;}

section#contenido {position: relative;}

div#altacategoria {
    display: none;
    background-color: lightcyan;
    margin: auto;
    width: 400px;
    height: max-content;
    padding: 20px;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 3px grey;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.resaltar {font-size: 1.3em;}
